.about {
  &__container {
    background-color: var(--neutral-white);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include laptop {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 20px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 1070px;
    gap: 40px;

    @include desktop {
      max-width: 769px;
      gap: 20px;
    }

    @include laptop {
      max-width: none;
      gap: 15px;
    }
  }
}
