.directions {
  margin-top: 85px;

  &__container {
    display: flex;
    justify-content: space-between;
    background-color: var(--neutral-white);

    @include laptop {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    max-width: 770px;
    gap: 30px;

    @include desktop {
      max-width: 550px;
      gap: 25px;
    }

    @include tablet {
      gap: 12px;
    }
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include desktop {
      gap: 30px;
    }

    @include laptop {
      gap: 30px;
    }

    @include laptop {
      column-gap: 16px;
      row-gap: 24px;
    }
  }

  &__btn {
    margin-top: auto;
  }

  @include desktop {
    margin-top: 60px;
  }

  @include laptop {
    margin-top: 50px;
  }

  @include tablet {
    margin-top: 30px;
  }
}

.card {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 25px;
  padding: 60px;
  width: 365px;
  height: 335px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 1%);
  background: var(--neutral-grey-light, #f6f6fb);

  &__text {
    line-height: 110%;
  }

  &__icon {
    width: 70px;
    height: 70px;

    @include laptop {
      width: 60px;
      height: 60px;
    }

    @include laptop {
      width: 40px;
      height: 40px;
    }
  }

  @include desktop {
    border-radius: 20px;
    padding: 40px;
    width: 260px;
    height: 255px;
  }

  @include laptop {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 30px;
    width: auto;
    height: auto;
    gap: 20px;
  }

  @include tablet {
    border-radius: 12px;
    padding: 16px;
    gap: 10px;
  }
}
