.footer {
  margin-top: 180px;
  padding-bottom: 30px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
  }

  &__link {
    color: var(--neutral-grey-dark);

    &::before {
      bottom: 2px;
    }

    &:hover {
      color: var(--neutral-black);
    }
  }
}
