.footer {
  margin-top: 180px;
  padding-bottom: 30px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;

    @include desktop {
      margin-bottom: 80px;
    }

    @include laptop {
      flex-wrap: wrap;
      margin-bottom: 40px;
      gap: 25px;
    }
  }

  &__partners {
    display: flex;
    gap: 45px;

    @include desktop {
      gap: 20px;
    }

    @include laptop {
      gap: 30px;
    }
  }

  &__link {
    color: var(--neutral-grey-dark);

    &::before {
      bottom: 2px;

      @include desktop {
        bottom: -2px;
      }
    }

    @include hover {
      color: var(--neutral-black);
    }
  }

  &__icon {
    @include desktop {
      width: auto;
      height: 94px;
    }

    @include laptop {
      height: 72px;
    }
  }

  @include desktop {
    margin-top: 110px;
  }

  @include laptop {
    margin-top: 105px;
  }
}
