.hero {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: var(--colors-orange-dark);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 99px;

    @include desktop {
      margin-top: 47px;
    }

    @include laptop {
      flex-direction: column;
      margin-top: 0;
      margin-bottom: 50px;
      gap: 30px;
    }
  }

  &__subtitle {
    color: var(--neutral-white);
  }

  &__text {
    margin-top: 45px;
    color: var(--neutral-white);

    @include desktop {
      margin-top: 27px;
    }

    @include laptop {
      margin-top: 15px;
    }
  }

  &__img {
    position: relative;
    border-radius: 50px;
    width: 100%;

    @include laptop {
      height: 488px;
    }
  }

  @include laptop {
    padding-top: 132px;
    padding-bottom: 50px;
  }
}
