.info {
  margin-top: 120px;
  padding-bottom: 90px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colors-orange-dark);

    &--reverse {
      flex-direction: row-reverse;
    }

    @include laptop {
      gap: 36px;

      &--reverse {
        gap: 20px;
      }
    }

    @include tablet {
      flex-direction: column-reverse;
      gap: 30px;
    }
  }

  &__img {
    border-radius: 25px;

    @include desktop {
      border-radius: 20px;
      width: 574px;
    }

    @include laptop {
      border-radius: 16px;
      width: auto;
      max-height: 400px;
    }

    @include tablet {
      border-radius: 12px;
      width: 100%;
      height: auto;
      max-height: none;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    gap: 50px;

    @include desktop {
      max-width: 480px;
      gap: 40px;
    }

    @include laptop {
      max-width: 300px;
      gap: 25px;
    }

    @include tablet {
      padding-top: 30px;
      gap: 20px;
    }
  }

  &__title {
    text-align: center;
    color: var(--neutral-white);
  }

  @include desktop {
    margin-top: 90px;
    padding-bottom: 60px;
  }

  @include laptop {
    margin-top: 80px;
    padding-bottom: 50px;
  }

  @include tablet {
    margin-top: 60px;
    padding-bottom: 30px;
  }
}
