.offer {
  &__container {
    background: var(--neutral-grey-light);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @include desktop {
      margin-bottom: 25px;
    }

    @include laptop {
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-bottom: 20px;
      gap: 25px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 18px;

    &::before {
      content: "";
      display: inline-block;
      border-radius: 2px;
      width: 10px;
      height: 10px;
      background-color: var(--colors-orange-dark);

      @include laptop {
        width: 8px;
        height: 8px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 26px;

      @include desktop {
        margin-bottom: 23px;
      }

      @include laptop {
        margin-bottom: 20px;
      }
    }

    @include desktop {
      gap: 15px;
    }

    @include laptop {
      gap: 10px;
    }
  }

  &__text {
    line-height: 1;
  }

  &__btn {
    background-color: var(--neutral-white);
  }
}
