.positions {
  margin-top: 120px;

  &__container {
    display: flex;
    gap: 40px;

    @include laptop {
      flex-wrap: wrap;
    }
  }

  &__title {
    @include laptop {
      margin-bottom: 5px;
    }
  }

  &__list {
    padding-bottom: 60px;
    padding-left: 12px;
    width: 100%;

    @include desktop {
      padding-bottom: 50px;
    }

    @include laptop {
      padding-bottom: 30px;
    }

    @include tablet {
      padding-left: 0;
    }
  }

  &__item {
    position: relative;
    display: flex;
    padding-left: 12px;

    &::before {
      content: "";
      position: absolute;
      left: -8px;
      top: 10px;
      display: block;
      border-radius: 2px;
      width: 8px;
      height: 8px;
      background-color: var(--colors-orange-dark);

      @include desktop {
        top: 9px;
      }

      @include laptop {
        top: 8px;
      }

      @include tablet {
        left: 0;
        top: 7px;
        border-radius: 1px;
        width: 5px;
        height: 5px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include laptop {
      padding-left: 13px;
    }
  }

  &__text {
    line-height: 150%;
  }

  &__right,
  &__left {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include desktop {
      gap: 30px;
    }

    @include laptop {
      gap: 20px;
    }

    @include laptop {
      gap: 16px;
    }
  }

  @include desktop {
    margin-top: 90px;
  }

  @include laptop {
    margin-top: 70px;
  }

  @include laptop {
    margin-top: 60px;
  }
}
