.qualities {
  margin-top: 120px;

  &__title {
    margin-bottom: 40px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  @include desktop {
    margin-top: 90px;
  }
}

.qualities-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 25px;
  padding: 60px 90px;
  width: 100%;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 1%);
  background-color: var(--neutral-white);
  gap: 30px;

  &__img {
    @include desktop {
      width: 70px;
      height: 70px;
    }
  }

  @include desktop {
    padding: 40px 70px;
    gap: 25px;
  }
}
