.steps {
  padding-bottom: 90px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include desktop {
      gap: 40px;
    }

    @include laptop {
      gap: 30px;
    }

    @include tablet {
      gap: 20px;
    }
  }

  &__section-container {
    background-color: var(--neutral-white);
  }

  &__section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;

    @include desktop {
      gap: 50px;
    }

    @include tablet {
      gap: 30px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @include laptop {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 30px;
    }

    @include tablet {
      margin-bottom: 16px;
      gap: 16px;
    }
  }

  &__accordion {
    .accordion__title {
      @include tablet {
        text-align: left;
      }

      @include mobile {
        max-width: 220px;
      }
    }
  }

  &__accordions {
    display: flex;
    gap: 40px;

    @include laptop {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__subtitle {
    color: var(--colors-orange-dark);
  }

  &__list {
    padding-bottom: 60px;
    padding-left: 41px;

    @include desktop {
      padding-bottom: 50px;
    }

    @include tablet {
      padding-bottom: 30px;
      padding-left: 23px;
    }
  }

  &__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -41px;
      top: 4px;
      display: block;
      border: 2px solid var(--colors-orange-dark);
      border-radius: 4px;
      width: 16px;
      height: 16px;
      background-color: transparent;

      @include tablet {
        left: -23px;
        border-width: 1px;
        border-radius: 3px;
        width: 11px;
        height: 11px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      &::after {
        content: "";
        position: absolute;
        left: calc(-16px * 2);
        top: 24px;
        display: block;
        width: 2px;
        height: calc(100% + 20px);
        background-color: var(--colors-orange-dark);

        @include desktop {
          height: calc(100% + 16px);
        }

        @include tablet {
          left: -17px;
          top: 17px;
          width: 1px;
          height: calc(100% + 17px);
        }
      }

      @include desktop {
        margin-bottom: 35px;
      }

      @include tablet {
        margin-bottom: 30px;
      }
    }
  }

  &__text {
    line-height: 150%;

    .link {
      @include hover {
        color: var(--neutral-grey-dark);
      }
    }
  }

  &__moscow-time {
    margin-left: 25px;
    color: var(--neutral-grey-middle);
    opacity: 0.5;

    @include desktop {
      margin-left: 15px;
    }

    @include laptop {
      display: block;
      margin-top: 6px;
      margin-left: 0;
    }

    @include tablet {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.16px;
    }
  }

  &__desc {
    color: var(--neutral-black);

    &-bottom {
      margin-top: 10px;
    }
  }

  &__desc-short {
    max-width: 920px;
  }

  @include desktop {
    padding-bottom: 60px;
  }

  @include laptop {
    padding-bottom: 40px;
  }

  @include laptop {
    padding-bottom: 30px;
  }
}
