.work {
  margin-top: 120px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include laptop {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__img {
    border-radius: 25px;

    @include desktop {
      border-radius: 20px;
      width: 600px;
    }

    @include laptop {
      border-radius: 16px;
      width: 100%;
    }
  }

  &__right {
    max-width: 768px;

    @include desktop {
      max-width: 550px;
    }

    @include laptop {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include desktop {
      margin-bottom: 20px;
    }

    @include laptop {
      margin-bottom: 15px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include desktop {
      gap: 20px;
    }

    @include laptop {
      gap: 15px;
    }
  }

  @include desktop {
    margin-top: 90px;
  }

  @include laptop {
    margin-top: 80px;
  }
}
