.accordion {
  --accordion-time: 0.3s;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
}

.accordion__control {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 25px;
  padding: 35px 70px;
  width: 100%;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 1%);
  background-color: var(--neutral-grey-light);
  cursor: pointer;

  @include desktop {
    padding: 30px 40px;
  }

  @include desktop {
    border-radius: 20px;
  }

  @include laptop {
    border-radius: 16px;
  }
}

.accordion__content {
  overflow: hidden;
  border-radius: 0 0 25px 25px;
  padding: 0 70px;
  max-height: 0;
  box-sizing: content-box;
  background-color: var(--neutral-grey-light);
  opacity: 0;
  transition: max-height var(--accordion-time) ease-out, opacity var(--accordion-time) ease-out;
  will-change: max-height;

  @include desktop {
    padding: 0 30px;
  }

  @include desktop {
    border-radius: 0 0 20px 20px;
  }
}

.accordion__title {
  color: var(--neutral-black);

  @extend .text--t1;
}

.accordion__icon {
  position: relative;
  transition: transform var(--accordion-time) ease-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    border-radius: 4px;
    width: 4px;
    height: 36px;
    background-color: var(--colors-orange-dark);
    transform: translate(-50%, -50%);

    @include desktop {
      width: 3px;
      height: 27px;
    }
  }

  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.is-open .accordion__icon {
  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.is-open .accordion__control {
  border-radius: 25px 25px 0 0;

  @include desktop {
    border-radius: 20px 20px 0 0;
  }
}

.is-open .accordion__content {
  opacity: 1;
}
