.btn {
  padding: 18px 40px;
  line-height: 1;
  color: var(--neutral-white);
  transition: color var(--transition), background-color var(--transition);

  &--outline {
    border: 1px solid var(--neutral-white);
    border-radius: 20px;

    &:hover {
      color: var(--neutral-black);
      background-color: var(--neutral-white);
    }

    &:active {
      color: var(--neutral-black);
      background-color: #f2f2f2;
    }

    @extend .text--t2;
  }

  &--filled-small {
    border-radius: 16px;
    text-transform: lowercase;
    color: var(--colors-orange-dark);
    background-color: var(--neutral-grey-light, #f6f6fb);

    &:hover {
      color: var(--neutral-white);
      background-color: var(--neutral-grey-dark);
    }

    &:active {
      color: var(--neutral-white);
      background-color: #71747e;
    }

    @extend .text--t2;
  }

  &--outline-big {
    border: 2px solid var(--colors-orange-dark, #eb743a);
    border-radius: 25px;
    padding: 30px 90px;
    max-width: 640px;
    line-height: 1;
    text-align: center;
    color: var(--neutral-black);

    &:hover {
      color: var(--neutral-white);
      background-color: var(--colors-orange-dark);
    }

    &:active {
      color: var(--neutral-white);
      background-color: #f8864c;
    }

    @extend .text--t1;
  }

  &--filled {
    border-radius: 25px;
    padding: 30px 90px;
    font-weight: 500;
    line-height: 1;
    color: var(--neutral-black);
    background: var(--neutral-white);

    &:hover {
      color: var(--neutral-white);
      background-color: var(--neutral-grey-dark);
    }

    &:active {
      color: var(--neutral-white);
      background: #71747e;
    }

    @extend .text--t1;
  }
}
