.btn {
  padding: 18px 40px;
  line-height: 1;
  color: var(--neutral-white);

  &--outline {
    border: 1px solid var(--neutral-white);
    border-radius: 20px;
    transition: color var(--transition), background-color var(--transition);

    &:hover {
      color: var(--neutral-black);
      background-color: var(--neutral-white);
    }
  }

  @extend .text--t2;
}
