.btn {
  padding: 18px 40px;
  line-height: 1;
  color: var(--neutral-white);
  transition: color var(--transition), background-color var(--transition);

  &--outline {
    border: 1px solid var(--neutral-white);
    border-radius: 20px;

    @include hover {
      color: var(--neutral-black);
      background-color: var(--neutral-white);
    }

    @include active {
      color: var(--neutral-black);
      background-color: #f2f2f2;
    }

    @include desktop {
      padding: 12px 30px;
    }

    @extend .text--t2;
  }

  &--filled-small {
    border-radius: 16px;
    text-transform: lowercase;
    color: var(--colors-orange-dark);
    background-color: var(--neutral-grey-light, #f6f6fb);

    @include desktop {
      border-radius: 12px;
      padding: 15px 30px;
    }

    @include laptop {
      border-radius: 12px;
      padding: 13px 30px;
    }

    @extend .text--t2;
  }

  &--outline-big {
    border: 2px solid var(--colors-orange-dark, #eb743a);
    border-radius: 25px;
    padding: 30px 90px;
    max-width: 640px;
    line-height: 1;
    text-align: center;
    color: var(--neutral-black);

    @include hover {
      color: var(--neutral-white);
      background-color: var(--colors-orange-dark);
    }

    @include active {
      color: var(--neutral-white);
      background-color: #f8864c;
    }

    @include desktop {
      padding: 25px 90px;
    }

    @include tablet {
      border-radius: 12px;
      padding: 20px 13px;
    }

    @extend .text--t1;
  }

  &--filled {
    border-radius: 25px;
    padding: 30px 90px;
    font-weight: 500;
    line-height: 1;
    color: var(--neutral-black);
    background: var(--neutral-white);

    @include hover {
      color: var(--neutral-white);
      background-color: var(--neutral-grey-dark);
    }

    @include active {
      color: var(--neutral-white);
      background: #71747e;
    }

    @include desktop {
      padding: 25px 90px;
    }

    @include laptop {
      border-radius: 16px;
      padding: 25px 35px;
      font-size: 15px;
      letter-spacing: 0.15px;
    }

    @include tablet {
      border-radius: 10px;
      padding: 20px;
      font-size: 16px;
      letter-spacing: 0.16px;
    }

    @extend .text--t1;
  }
}
