.checkbox {
  display: flex;
  align-items: center;
  gap: 16px;

  &__input {
    display: none;
  }

  &__input:checked {
    + .checkbox__item {
      background-image: url("../img/checked.svg");
      background-position: center center;
      background-size: 70%;
      background-repeat: no-repeat;

      @include desktop {
        background-position: 50% 55%;
      }

      @include tablet {
        background-position: 60% 55%;
      }
    }
  }

  &__item {
    position: relative;
    display: block;
    border-radius: 10px;
    width: 36px;
    height: 36px;
    background-color: var(--neutral-white);
    cursor: pointer;

    @include desktop {
      width: 28px;
      height: 28px;
    }

    @include laptop {
      border-radius: 8px;
    }

    @include tablet {
      flex: 1 1 auto;
      border-radius: 6px;
      max-width: 24px;
      max-height: 24px;
    }
  }

  &__label {
    cursor: pointer;

    @include tablet {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.16px;
    }
  }

  &--small {
    .checkbox__item {
      display: block;
      border-radius: 6px;
      width: 24px;
      height: 24px;

      @include tablet {
        flex: 1 1 auto;
        border-radius: 4px;
        max-width: 16px;
        max-height: 16px;
      }
    }

    .checkbox__label {
      @include tablet {
        font-weight: 300;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.12px;
      }
    }

    .checkbox__input:checked {
      + .checkbox__item {
        background-size: 80%;
      }
    }

    @include desktop {
      gap: 12px;
    }

    @include tablet {
      gap: 18px;
    }
  }

  @include tablet {
    gap: 10px;
  }
}
