.link {
  position: relative;
  display: inline-block;
  color: currentcolor;
  transition: color var(--transition);

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 4px;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: currentcolor;
  }

  &:hover {
    color: var(--neutral-grey-hover);
  }
}
