.title {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;

  &__colored {
    color: var(--colors-orange-dark);
  }

  &--h1 {
    font-weight: 800;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: 0.8px;
    color: var(--neutral-white);

    @include desktop {
      font-size: 54px;
      line-height: 115%;
      letter-spacing: 0.54px;
    }

    @include laptop {
      font-size: 48px;
      letter-spacing: 0.48px;
    }

    @include tablet {
      font-size: 25px;
      line-height: 135%;
      letter-spacing: 0.25px;
    }
  }

  &--h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: 0.6px;
    color: var(--neutral-grey-dark);

    @include desktop {
      font-size: 42px;
      line-height: 120%;
      letter-spacing: 0.42px;
    }

    @include laptop {
      font-size: 34px;
      letter-spacing: 0.34px;
    }

    @include tablet {
      font-size: 21px;
      line-height: 135%;
      letter-spacing: 0.21px;
    }
  }

  &--h3 {
    font-weight: 600;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: 0.45px;
    color: var(--neutral-grey-dark);

    @include desktop {
      font-size: 34px;
      line-height: 120%;
      letter-spacing: 0.34px;
    }

    @include laptop {
      font-size: 28px;
      letter-spacing: 0.28px;
    }

    @include tablet {
      font-size: 20px;
      letter-spacing: 0.22px;
    }
  }
}

.text {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;

  &--t1 {
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.28px;
    color: #2f2f2f;

    @include desktop {
      font-size: 22px;
      line-height: 140%;
      letter-spacing: 0.22px;
    }

    @include laptop {
      font-size: 19px;
      letter-spacing: 0.19px;
    }

    @include tablet {
      font-size: 16px;
      letter-spacing: 0.16px;
    }
  }

  &--t2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.2px;

    @include desktop {
      font-size: 17px;
      letter-spacing: 0.17px;
    }

    @include laptop {
      font-size: 16px;
      letter-spacing: 0.16px;
    }

    @include tablet {
      font-size: 13px;
      line-height: 1;
      letter-spacing: 0.13px;
    }
  }

  &--t3 {
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.36px;

    @include desktop {
      font-size: 15px;
      line-height: 1;
      letter-spacing: 0.15px;
    }

    @include laptop {
      font-size: 13px;
      letter-spacing: 0.13px;
    }
  }
}
