<section class="about">
  <div class="container about__container section-container">
    <h2 class="visually-hidden">Агентство развития Новотроицка — общественная инициатива</h2>
    <div class="about__wrapper">
      <div class="about__text">
        <p class="text text--t1">
          Агентство развития Новотроицка — общественная инициатива, задача которой — сделать
          Новотроицк современным, комфортным, привлекательным местом для жизни и работы.
        </p>
        <p class="text text--t1">
          Основной формат деятельности — создание собственных проектов и поддержка инициатив
          горожан, направленных на улучшение качества жизни, развитие людей и привлечение
          инвестиций.
        </p>
      </div>
      <div>
        <a href="#" class="btn about__btn btn-reset btn--filled-small">о нас</a>
      </div>
    </div>
  </div>
</section>
