<section class="info">
  <div class="container">
    <div class="info__container info__container--reverse section-container">
      <picture>
        <source srcset="img/action.png" media="(min-width: 1365px)" />
        <img
          src="img/action-small.png"
          alt=""
          aria-hidden="true"
          width="828"
          height="509"
          class="info__img img-shadow"
        />
      </picture>

      <div class="info__text">
        <h2 class="info__title title title--h3">Перезапустите карьеру вместе с АРН</h2>
        <button class="btn btn-reset btn--filled">Откликнуться</button>
      </div>
    </div>
  </div>
</section>
