<section class="contact">
  <div class="container contact__container">
    <div class="contact__card">
      <h3 class="contact__title title title--h3">
        Вопросы по вакансиям вы можете направить по адресу
        <a class="contact__link link" href="mailto:hr@arnovotroitsk.ru">hr@arnovotroitsk.ru</a>
      </h3>
      <p class="text text--t2 contact__text">
        Мы на связи с 10:00 до 18:00 по московскому времени, понедельник-пятница.
      </p>
    </div>
    <div class="contact__card contact__card--social">
      <h3 class="contact__title title title--h3">Следите за актуальными новостями</h3>
      <a href="#" class="contact__social" aria-label="Наша группа во Вконтакте ">
        <img
          src="/img/icons/vk.png"
          aria-hidden="true"
          alt=""
          width="80"
          height="80"
          class="contact__icon"
        />
      </a>
    </div>
  </div>
</section>
