<section class="info">
  <div class="container">
    <div class="info__container section-container">
      <picture>
        <source srcset="img/deadline.png" media="(min-width: 1365px)" />
        <img
          src="img/deadline-small.png"
          alt=""
          aria-hidden="true"
          width="828"
          height="509"
          class="info__img img-shadow"
        />
      </picture>
      <div class="info__text">
        <h2 class="info__title title title--h3">Окончание приёма резюме 3 сентября 2023 года</h2>
        <button class="btn btn-reset btn--filled">Откликнуться</button>
      </div>
    </div>
  </div>
</section>
