<section class="directions">
  <div class="container">
    <div class="directions__container section-container">
      <div class="directions__left">
        <h2 class="directions__title title title--h2">
          <span class="title__colored">Направления</span> в Агентстве
        </h2>
        <p class="text text--t1">
          Запуск Агентства планируется в конце 2023 года. Организация создаётся по инициативе
          и при поддержке ООО «Уральская Сталь».
        </p>
        <a
          href="#form"
          class="btn-reset btn btn--outline-big link-reset directions__btn"
          data-da=".directions__container,1365"
        >
          Откликнуться на вакансию
        </a>
      </div>
      <div class="directions__right">
        <div class="card directions__card">
          <img
            src="/img/icons/city.png"
            alt=""
            aria-hidden="true"
            width="90"
            height="90"
            class="card__icon"
          />

          <p class="card__text text text--t1">городская среда</p>
          <p class="card__text card__text--hover text text--t1">
            Направление ставит целью сформировать комфортную городскую среду и модернизировать
            инфраструктуру за счёт развития государственно-частного партнёрства, поддержки инициатив
            и проведения городских событий.
          </p>
        </div>
        <div class="card directions__card">
          <img
            src="/img/icons/business.png"
            alt=""
            aria-hidden="true"
            width="90"
            height="90"
            class="card__icon"
          />
          <p class="card__text text text--t1">бизнес</p>
          <p class="card__text card__text--hover text text--t1">
            Направление ставит целью сформировать комфортную городскую среду и модернизировать
            инфраструктуру за счёт развития государственно-частного партнёрства, поддержки инициатив
            и проведения городских событий.
          </p>
        </div>
        <div class="card directions__card">
          <img
            src="/img/icons/social.png"
            alt=""
            aria-hidden="true"
            width="90"
            height="90"
            class="card__icon"
          />

          <p class="card__text text text--t1">социальная сфера</p>
          <p class="card__text card__text--hover text text--t1">
            Направление ставит целью сформировать комфортную городскую среду и модернизировать
            инфраструктуру за счёт развития государственно-частного партнёрства, поддержки инициатив
            и проведения городских событий.
          </p>
        </div>
        <div class="card directions__card">
          <img
            src="/img/icons/ecology.png"
            alt=""
            aria-hidden="true"
            width="90"
            height="90"
            class="card__icon"
          />

          <p class="card__text text text--t1">экология</p>
          <p class="card__text card__text--hover text text--t1">
            Направление ставит целью сформировать комфортную городскую среду и модернизировать
            инфраструктуру за счёт развития государственно-частного партнёрства, поддержки инициатив
            и проведения городских событий.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
