<footer class="footer">
  <div class="container footer__container">
    <div class="footer__wrapper">
      <h3 class="footer__title title title--h3">При поддержке ООО «Уральская Сталь»</h3>
      <div class="footer__partners">
        <a href="#" class="footer__link" aria-label="Уральская сталь">
          <img
            src="/img/icons/ural-steel.png"
            class="footer__icon"
            alt=""
            aria-hidden="true"
            width="350"
            height="122"
          />
        </a>
        <a href="#" class="footer__link" aria-label="Агентство развития новотроицка">
          <img
            src="/img/icons/agency.png"
            class="footer__icon"
            alt=""
            aria-hidden="true"
            width="212"
            height="106"
          />
        </a>
      </div>
    </div>
    <a href="#" class="link footer__link text text--t3">Пользовательское соглашение</a>
  </div>
</footer>
