<section class="form">
  <div class="container">
    <div class="form__container section-container">
      <div class="form__container-width">
        <h2 class="form__title title title--h3">Отклик на вакансию</h2>

        <form class="form__wrapper">
          <label class="form__label">
            <span class="form__label-text">Фамилия</span>
            <input type="text" required class="form__input text text--t2" />
          </label>
          <label class="form__label">
            <span class="form__label-text">Имя</span>
            <input type="text" required class="form__input text text--t2" />
          </label>
          <label class="form__label">
            <span class="form__label-text">Отчество</span>
            <input type="text" required class="form__input text text--t2" />
          </label>
          <label class="form__label">
            <span class="form__label-text">Телефон</span>
            <input type="tel" required class="form__input text text--t2" />
          </label>
          <label class="form__label">
            <span class="form__label-text">E-mail</span>
            <input type="email" required class="form__input text text--t2" />
          </label>
        </form>

        <div class="checkbox-block">
          <h3 class="text text--t1 checkbox-block__title">Интересующая вакансия</h3>
          <div class="checkbox-block__wrapper">
            <label class="checkbox">
              <input type="checkbox" class="checkbox__input" />
              <span class="checkbox__item"></span>
              <span class="checkbox__label text text--t2">Директор Агентства</span>
            </label>
            <label class="checkbox">
              <input type="checkbox" class="checkbox__input" />
              <span class="checkbox__item"></span>
              <span class="checkbox__label text text--t2">Руководитель направления</span>
            </label>
          </div>
        </div>

        <div class="form__footer">
          <button type="submit" class="form__btn btn btn-reset btn--filled">
            Отправить заявку
          </button>
          <div class="form__privacy">
            <label class="checkbox checkbox--small">
              <input type="checkbox" class="checkbox__input" />
              <span class="checkbox__item"></span>
              <span class="checkbox__label text text--t3">
                Согласие на обработку персональных данных
              </span>
            </label>

            <a href="#" class="form__link text text--t3">Пользовательское соглашение</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
