<section class="hero">
  <div class="container hero__container">
    <div class="hero__wrapper">
      <h1 class="hero__title title title--h1">
        Открыт набор сотрудников в Агентство развития Новотроицка
      </h1>
      <div class="hero__right">
        <h3 class="hero__subtitle title title--h3">Развивайте город в компании профессионалов</h3>
        <p class="text text--t2 hero__text">
          Отклики принимаются до <time datetime="2023-09-03">3 сентября 2023 года</time>
        </p>
      </div>
    </div>

    <picture>
      <source srcset="/img/hero.png" media="(min-width: 1365px)" />
      <img
        src="/img/hero-small.png"
        class="hero__img img-shadow"
        alt="Изображение в hero блоке"
        width="1760"
        height="467"
      />
    </picture>
  </div>
</section>
