<section class="offer">
  <div class="container offer__container section-container">
    <div class="offer__top">
      <h2 class="offer__title title title--h2">
        Мы готовы <span class="title__colored">предложить:</span>
      </h2>
      <button class="btn btn-reset btn--filled-small offer__btn">Условия работы</button>
    </div>
    <div>
      <ul class="offer__list list-reset">
        <li class="offer__item">
          <span class="text text--t1 offer__text">
            работу в молодой команде увлеченных профессионалов;
          </span>
        </li>
        <li class="offer__item">
          <span class="text text--t1 offer__text"> участие в реализации амбициозных проектов;</span>
        </li>
        <li class="offer__item">
          <span class="text text--t1 offer__text"> оформление по ТК РФ;</span>
        </li>
        <li class="offer__item">
          <span class="text text--t1 offer__text"> достойную заработную плату;</span>
        </li>
        <li class="offer__item">
          <span class="text text--t1 offer__text"> график работы пн-пт;</span>
        </li>
        <li class="offer__item">
          <span class="text text--t1 offer__text">
            возможность компенсации аренды жилья при переезде в г. Новотроицк;
          </span>
        </li>
        <li class="offer__item">
          <span class="text text--t1 offer__text">
            возможность проходить дополнительное обучение за счет Агентства.
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
