<section class="positions" id="positions">
  <div class="container positions__container">
    <h2 class="positions__title title title--h3">Директор Агентства</h2>
    <h2 class="positions__title title title--h3">Руководитель направления</h2>
    <div class="accordion positions__accordion">
      <button class="accordion__control" aria-expanded="false">
        <span class="accordion__title">Обязанности</span>
        <span class="accordion__icon"></span>
      </button>
      <div class="accordion__content" aria-hidden="true">
        <ul class="positions__list list-reset">
          <li class="positions__item">
            <span class="text text--t2 positions__text"> руководство Агентством; </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              формирование стратегии и планов деятельности Агентства: проектов и мероприятий,
              направленных на продвижение территории и улучшение качества жизни;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация формирования и реализации стратегий направлений деятельности
              Агентства;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              анализ трендов развития удаленных территорий и малонаселенных городов;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация взаимодействия Агентства с органами местного самоуправления, бизнесом и
              общественностью города;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              привлечение дополнительных ресурсов для реализации проектов и мероприятий по
              направлениям деятельности Агентства, взаимодействие с потенциальными инвесторами;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              поддержание постоянных деловых связей с бизнес-сообществами города, в т.ч., содействие
              формированию новых бизнес-сообществ, ведение онлайн-чатов, деловой переписки;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация реализации проектов и мероприятий в рамках Программы развития Новотроицка
              по направлениям: городская среда, бизнес, социальная сфера, экология;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              определение подрядчиков для реализации разработанных проектов (совместно с
              Заказчиком), контроль реализации проектов;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              организация регулярного мониторинга качества городской среды и контроль эффективности
              реализуемых проектов;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              формирование команды сотрудников с различным функционалом для реализации новых
              проектов Агентства;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              проведение переговоров, встреч и презентаций по направлениям деятельности Агентства.
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion positions__accordion">
      <button class="accordion__control" aria-expanded="false">
        <span class="accordion__title">Обязанности</span>
        <span class="accordion__icon"></span>
      </button>
      <div class="accordion__content" aria-hidden="true">
        <ul class="positions__list list-reset">
          <li class="positions__item">
            <span class="text text--t2 positions__text"> руководство Агентством; </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              формирование стратегии и планов деятельности Агентства: проектов и мероприятий,
              направленных на продвижение территории и улучшение качества жизни;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация формирования и реализации стратегий направлений деятельности
              Агентства;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              анализ трендов развития удаленных территорий и малонаселенных городов;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация взаимодействия Агентства с органами местного самоуправления, бизнесом и
              общественностью города;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              привлечение дополнительных ресурсов для реализации проектов и мероприятий по
              направлениям деятельности Агентства, взаимодействие с потенциальными инвесторами;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              поддержание постоянных деловых связей с бизнес-сообществами города, в т.ч., содействие
              формированию новых бизнес-сообществ, ведение онлайн-чатов, деловой переписки;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация реализации проектов и мероприятий в рамках Программы развития Новотроицка
              по направлениям: городская среда, бизнес, социальная сфера, экология;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              определение подрядчиков для реализации разработанных проектов (совместно с
              Заказчиком), контроль реализации проектов;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              организация регулярного мониторинга качества городской среды и контроль эффективности
              реализуемых проектов;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              формирование команды сотрудников с различным функционалом для реализации новых
              проектов Агентства;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              проведение переговоров, встреч и презентаций по направлениям деятельности Агентства.
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion positions__accordion">
      <button class="accordion__control" aria-expanded="false">
        <span class="accordion__title">Требования</span>
        <span class="accordion__icon"></span>
      </button>
      <div class="accordion__content" aria-hidden="true">
        <ul class="positions__list list-reset">
          <li class="positions__item">
            <span class="text text--t2 positions__text"> руководство Агентством; </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              формирование стратегии и планов деятельности Агентства: проектов и мероприятий,
              направленных на продвижение территории и улучшение качества жизни;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация формирования и реализации стратегий направлений деятельности
              Агентства;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              анализ трендов развития удаленных территорий и малонаселенных городов;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация взаимодействия Агентства с органами местного самоуправления, бизнесом и
              общественностью города;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              привлечение дополнительных ресурсов для реализации проектов и мероприятий по
              направлениям деятельности Агентства, взаимодействие с потенциальными инвесторами;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              поддержание постоянных деловых связей с бизнес-сообществами города, в т.ч., содействие
              формированию новых бизнес-сообществ, ведение онлайн-чатов, деловой переписки;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация реализации проектов и мероприятий в рамках Программы развития Новотроицка
              по направлениям: городская среда, бизнес, социальная сфера, экология;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              определение подрядчиков для реализации разработанных проектов (совместно с
              Заказчиком), контроль реализации проектов;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              организация регулярного мониторинга качества городской среды и контроль эффективности
              реализуемых проектов;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              формирование команды сотрудников с различным функционалом для реализации новых
              проектов Агентства;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              проведение переговоров, встреч и презентаций по направлениям деятельности Агентства.
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="accordion positions__accordion">
      <button class="accordion__control" aria-expanded="false">
        <span class="accordion__title">Требования</span>
        <span class="accordion__icon"></span>
      </button>
      <div class="accordion__content" aria-hidden="true">
        <ul class="positions__list list-reset">
          <li class="positions__item">
            <span class="text text--t2 positions__text"> руководство Агентством; </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              формирование стратегии и планов деятельности Агентства: проектов и мероприятий,
              направленных на продвижение территории и улучшение качества жизни;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация формирования и реализации стратегий направлений деятельности
              Агентства;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              анализ трендов развития удаленных территорий и малонаселенных городов;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация взаимодействия Агентства с органами местного самоуправления, бизнесом и
              общественностью города;</span
            >
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              привлечение дополнительных ресурсов для реализации проектов и мероприятий по
              направлениям деятельности Агентства, взаимодействие с потенциальными инвесторами;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              поддержание постоянных деловых связей с бизнес-сообществами города, в т.ч., содействие
              формированию новых бизнес-сообществ, ведение онлайн-чатов, деловой переписки;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              координация реализации проектов и мероприятий в рамках Программы развития Новотроицка
              по направлениям: городская среда, бизнес, социальная сфера, экология;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              определение подрядчиков для реализации разработанных проектов (совместно с
              Заказчиком), контроль реализации проектов;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              организация регулярного мониторинга качества городской среды и контроль эффективности
              реализуемых проектов;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              формирование команды сотрудников с различным функционалом для реализации новых
              проектов Агентства;
            </span>
          </li>
          <li class="positions__item">
            <span class="text text--t2 positions__text">
              проведение переговоров, встреч и презентаций по направлениям деятельности Агентства.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
