<section class="qualities">
  <div class="container qualities__container">
    <h2 class="qualities__title title title--h2">
      Это <span class="title--colored">работа мечты</span>, если вы:
    </h2>
    <div class="qualities__wrapper">
      <div class="qualities-card">
        <img
          src="/img/qualities/1.png"
          alt=""
          width="90"
          height="90"
          aria-hidden="true"
          class="qualities-card__img"
        />
        <p class="qualities-card__text text text--t1">
          хотите получить реальные возможности для развития Новотроицка
        </p>
      </div>
      <div class="qualities-card">
        <img
          src="/img/qualities/2.png"
          alt=""
          width="90"
          height="90"
          aria-hidden="true"
          class="qualities-card__img"
        />
        <p class="qualities-card__text text text--t1">
          вовлечены в городскую жизнь и готовы напрямую влиять на изменения
        </p>
      </div>
      <div class="qualities-card">
        <img
          src="/img/qualities/3.png"
          alt=""
          width="90"
          height="90"
          aria-hidden="true"
          class="qualities-card__img"
        />
        <p class="qualities-card__text text text--t1">
          видите себя ключевым игроком в динамично развивающемся регионе
        </p>
      </div>
      <div class="qualities-card">
        <img
          src="/img/qualities/4.png"
          alt=""
          width="90"
          height="90"
          aria-hidden="true"
          class="qualities-card__img"
        />
        <p class="qualities-card__text text text--t1">
          интересуетесь бизнесом, туризмом или социально-культурной тематикой
        </p>
      </div>
    </div>
  </div>
</section>
