<section class="work">
  <div class="container work__container">
    <div class="work__left">
      <img
        src="/img/work.png"
        alt=""
        aria-hidden="true"
        width="828"
        height="585"
        class="work__img img-shadow"
      />
    </div>
    <div class="work__right">
      <h2 class="work__title title title--h2">
        <span class="title__colored">Работа</span> в Агентстве
      </h2>
      <div class="work__text">
        <p class="text text--t1">
          Мы объявляем старт набора сотрудников, готовых стать частью энергичной команды.
        </p>
        <p class="text text--t1">
          Мы ждём откликов от инициативных, неравнодушных, открытых новому и готовых развиваться
          кандидатов, которые разделяют нашу миссию и желание сделать город лучше.
        </p>
        <p class="text text--t1">
          Не упустите свой шанс стать частью уникального проекта и перезапустить карьеру с
          Агентством развития Новотроицка!
        </p>
      </div>
    </div>
  </div>
</section>
