:root {
  --font-family: "Manrope", sans-serif;
  --content-width: 1760px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --colors-red: #e44c2c;
  --neutral-white: #fff;
  --neutral-black: #000;
  --colors-orange-dark: #eb743a;
  --neutral-grey-dark: #5b5e68;
  --neutral-grey-middle: #a9aeb9;
  --neutral-grey-light: #f6f6fb;
  --neutral-grey-hover: #d9d4d4;

  // other

  --transition: 0.2s ease-in-out;

  @include desktop {
    --content-width: 1280px;
  }

  @include laptop {
    --content-width: 700px;
  }
}
