// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";

.title {
  font-weight: 800;
  font-size: var(--h1);
  text-align: center;
}
